@import url("/css/?s=42266");

@font-face {
  font-family: zara;
  src: url(https://grimdorks.net/BAHNSCHRIFT.TTF);
}

#content, #info {
  font-family: zara;
}

#content {
/*  padding: 0 25px; */
  line-height: 1.15;
/*  margin: 0 0 30px 0; */
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

#content .spoiler {
	border: 1px dashed gray;
	padding: 1px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

#content .spoiler > div:last-child {
	margin: 12px 5%;
	padding: 3px;
	text-align: left;
}

#content .spoiler input, #content .spoiler button {
	display: none;
}

* { transition: background-color 1s;}
.mspfalogo { transition: opacity 1s; }
#slide > * { transition: color 1s; }
#info * { transition: none; }

video {
  width: 650px;
  transition: width .5s;
}

#content video {
  margin: 0 -25px;
}

.dropdown {
  background-color: #535353;
}

/* WIDESCREEN */

.widescreen video {
  transition: width 10s;
  width: 950px;
}

#play {
	width: 600px;
	height: 450px;
	display: flex;
	justify-content: center;
  align-items: center;
	margin-top: -450px;
  z-index: 500;
  position: relative;
}

#play:hover {
	opacity: 0.8;
}

#play img {
  width: 200px
}

/* DARK */

.dark #slide {
  color: white
} 

.dark, .dark body, .dark nav, .dark .dropdown, .dark #info {
  background-color: #000;
}

.dark #main {
  background-color: #000;
}

.dark #slide {
  background-color: #000;
}

.dark .mspfalogo {
  opacity: 0;
}

/* BRIGHT */

.bright #slide {
  color: black
} 

.bright, .bright body, .bright nav, .bright .dropdown, .bright #info {
  background-color: #fff;
}

.bright #main {
  background-color: #fff;
}

.bright #slide {
  background-color: #fff;
}

.bright .mspfalogo {
  opacity: 0;
}

.bright .navList a:nth-child(n):nth-child(-n+1) {
  color: #000;
}

/* ZSUNSET */

.zsunset #slide {
  color: black
} 

.zsunset, .zsunset body, .zsunset nav, .zsunset .dropdown, .zsunset #info {
  background-color: #F1CCB5;
}

.zsunset #main {
  background-color: #F1CCB5;
}

.zsunset #slide {
  background-color: #F1CCB5;
}

.zsunset .mspfalogo {
  opacity: 0;
}

.zsunset .navList a:nth-child(n):nth-child(-n+1) {
  color: #F1CCB5;
}

/* SUNSET */

.sunset, .sunset * { transition: background-color 40s; }
.sunset .mspfalogo { transition: opacity 40s; }

.sunset, .sunset body, .sunset nav, .sunset .dropdown, .sunset #info {
  background-color: #673133;
}

.sunset #main {
  background-color: #e28e5b;
}

.sunset #slide {
  background-color: #fec75e;
}

.sunset .mspfalogo {
  opacity: 0.5;
}

/* TWILIGHT */

.twilight, .twilight * { transition: background-color 1s; }
.twilight .mspfalogo { transition: opacity 1s; }

.twilight, .twilight body, .twilight nav, .twilight .dropdown, .twilight #info {
  background-color: #2f0804;
}

.twilight #main {
  background-color: #bc3617;
}

.twilight #slide {
  background-color: #ff6829;
}

.twilight .mspfalogo {
  opacity: 0.5;
}

/* NIGHTSKY */

.nightsky, .nightsky body, .nightsky nav, .nightsky .dropdown, .nightsky #info {
  background-color: #22274e !important;
}

.nightsky #main {
  background-color: #608ce6 !important;
}

.nightsky #slide {
  background-color: #c6fcff !important;
}

.nightsky .mspfalogo {
  opacity: 0.5;
}

/* 1/3Dark */

.dark3 #slide {
  color: #555555
} 

.dark3, .dark3 body, .dark3 nav, .dark3 .dropdown, .dark3 #info {
  background-color: #3c3c3c;
}

.dark3 #main {
  background-color: #848484;
}

.dark3 #slide {
  background-color: #cccccc;
}

.dark3 .mspfalogo {
  opacity: 0.66;
}

/* 2/3Dark */

.dark2 #slide {
  color: #cccccc
} 

.dark2, .dark2 body, .dark2 nav, .dark2 .dropdown, .dark2 #info {
  background-color: #1e1e1e;
}

.dark2 #main {
  background-color: #424242;
}

.dark2 #slide {
  background-color: #555555;
}

.dark2 .mspfalogo {
  opacity: 0.33;
}

.mspfalogo {
    background-image: url("https://grimdorks.net/mspalogo_mspa.png") !important;
}

/* Paradox Space */

.paradox {
  background: #002d4d;
  background-image: 
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/pixels_top.png),
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/pixels_bottom.png);
  background-repeat: no-repeat;
  background-position: top, bottom;
  position: relative;
  font-family: Century Gothic,arial,sans-serif;
  color: white;
}

.paradox #main {
  position: unset;
}

.paradox nav {
  border-bottom: 4px solid #095486;
  height: 23px;
  background: #003b64;
  padding: 2px;
  text-transform: uppercase;
  
  font-size: 13px;
  font-weight: 700;
  color: #72abd2 !important;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.paradox .heart {
  background-image: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/candycorn_pxs.png);
  image-rendering: auto;
}

.paradox #main {
  width: 774px;
  background-image: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/bgContainer.png);
  background-color: transparent;
  margin-top: 27px;
  padding: 0;
  margin-top: 0;
}

.paradox #info, .paradox .umcontainer, .paradox #details {
  background-color: transparent !important;;
}

.paradox #slide {
  max-width: unset;
  width: 100%;
  background-color: transparent;
  background-image: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/bgPxs_logo.png);
  background-repeat: no-repeat;
  background-position: center -27px;
  image-rendering: auto;
  margin: 0;
  padding: 27px 0 0;
}

.paradox #slide::before {
  content: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/logo.png);
  display: block;
  margin: 12px auto -12px;
  width: max-content;
  image-rendering: auto;
}

.paradox .story-text {
  width: 100%;
  text-align: center;
}

.paradox #content {
  width: max-content;
  margin: 0 auto 1em;
}

.paradox #command, .paradox #content a, .paradox #foot a {
  font-family: Century Gothic,arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #0ca6ff, 0 0 5px #0ca6ff;
  text-decoration: none;
}

.paradox #foot a {
  font-size: 14px;
}

.paradox #content img {
  margin: 5px auto;
  max-width: 750px;
  display: table;
  border: 2px solid #095486;
  box-shadow: 0 0 10px #095486;
}

.paradox #links, .paradox .bottomLinks {
  margin: 0;
  padding: 0;
}

.paradox #links a, .paradox #goback {
  font-size: 0 !important;;
  display: block;
  width: 30px;
  height: 30px;
}

.paradox #links a::before, .paradox #goback::before {
  content: var(--icon);
  position: absolute;
}

.paradox #links a::after, .paradox #goback::after {
  content: var(--icon);
  position: absolute;
  top: 190px;
}

.paradox #links a {
  float: right;
  --icon: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/comnavNext.png);
  margin-right: 10px;
}

.paradox #goback {
  float: left;
  --icon: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/paradox%20space/comnavPrev.png);
  margin-left: 10px;
  margin-right: 120px;
}

.paradox #foot br {
  display: none;
}

#links > div::before {
  content: none;
}

.paradox .footer {
  display: none;
}

.paradox .mspfalogo {
  display: none;
}

.paradox #details {
  padding-left: 26px;
}